    *{
        margin: 0;
        padding:0;
    }
.cabecalho {
    background-color: #FDA3;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-imagem 
{
 width: 10%;
}

.cabecalho-lista-item
{

  display: inline-block;
  margin: 016px;
  font-size: 24px;
}
.escola-imagem{
    width: 150%;
}

.escola{
    background-image: linear-gradient(#FDF5EEE6,#FFF8E3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px,0;
}

*escola-div-conteudo {
    width: 20%;
}
 
.escola-titulo {

    padding: 24px 0;

 }

 .aluno1  {
    width: 120px;


 }
